<div class="card card-cascade wider reverse row justify-content-center mx-auto my-4">
  <div class="card col-10 col-md-8 clo-lg-6">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified blue-gradient">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Lost Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Reset</a>
      </li>
    </ul>
    <!-- Tab panels -->
    <div class="tab-content">
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
      <!--panel1-->
      <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
        <div class="card-block">
          <form [formGroup]="lostForm" (ngSubmit)="passwordLost(lostForm.value)">
            <div class="md-form">
              <i class="fa fa-user prefix"></i>
              <input mdbActive type="text" formControlName="name" class="form-control">
              <label for="name">Sign-in Name</label>
              <p *ngIf="!name.valid && name.touched" class="text-danger">
                <span *ngIf="name_.errors.required">Name required.</span>
              </p>
            </div>
            <div class="text-center">
              <button type="submit" [disabled]="!name.valid || name.pristine"
                      class="btn blue-gradient btn-rounded z-depth-1a waves-light"
                      mdbRippleRadius> 
                <!-- <i class="fa fa-plane prefix"></i> -->
                Request reset code
              </button>
            </div>
          </form>
        </div>
      </div>
      <!--.panel1-->
      <!--panel2-->
      <div class="tab-pane fade in show" id="panel2" role="tabpanel">
        <div class="card-block">
          <div class="card-title">
            <i class="fa fa-user prefix"></i>
            <span>Sig-in name: {{ name.value }}</span>
          </div>
          <form [formGroup]="resetForm" (ngSubmit)="passwordReset(resetForm.value)">
            <!-- <div class="md-form">
              <i class="fa fa-user prefix"></i>
              <input mdbActive type="text" formControlName="name2" class="form-control">
              <label for="name2">Name</label>
              <p *ngIf="!name2.valid && name2.touched" class="text-danger">
                <span *ngIf="name2_.errors.required">Name required.</span>
              </p>
            </div> -->
            <div class="md-form">
              <i class="fa fa-lock prefix"></i>
              <input mdbActive type="text" formControlName="password" class="form-control">
              <label for="password">New Password</label>
              <p *ngIf="!password.valid && password.touched" class="text-danger">
                <span *ngIf="password_.errors.required">Password required.</span>
                <span *ngIf="password_.errors.pattern">
                  Password must contail both upper and lower case character and at least 8 characters length.
                </span>
              </p>
            </div>
            <div class="md-form">
              <i class="fa fa-tag prefix"></i>
              <input mdbActive type="text" formControlName="resetcode" class="form-control">
              <label for="resetcode">Reset Code</label>
              <p *ngIf="!resetcode.valid && resetcode.touched" class="text-danger">
                <span *ngIf="resetcode_.errors.required">Reset code required.</span>
              </p>
            </div>
            <div class="text-center">
              <button type="submit" [disabled]="!resetForm.valid"
                      class="btn blue-gradient btn-rounded z-depth-1a waves-light"
                      mdbRippleRadius> 
                <!-- <i class="fa fa-sign-in"></i> -->
                Reset
              </button>
            </div>
          </form>
        </div>
      </div>
      <!--.panel2-->
    </div>
  </div>
</div>