<section class="row justify-content-center mx-auto my-4">
  <!--Form with header-->
  <div class="card col-10 col-md-8 col-lg-6">
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <!--Header-->
    <div class="header pt-3 blue-gradient">
      <div class="row d-flex justify-content-center">
        <h3 class="white-text mb-3 pt-3 font-weight-bold">Change Password</h3>
      </div>
    </div>
    <!--/.Header-->
    <!--Body-->
    <div class="card-body mx-4 mt-4">
      <div class="card-title">
          <i class="fa fa-user prefix"></i>
          <span>Sig-in name: {{ currentUser.name }}</span>
      </div>
      <form class="card-content" [formGroup]="changePasswordForm"
            (ngSubmit)="onChangePassword(changePasswordForm.value)">
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input mdbActive type="text" formControlName="currentPassword" class="form-control">
          <label for="currentPassword">Current Password</label>
          <p *ngIf="!currentPassword.valid && currentPassword.touched" class="text-danger">
            <span *ngIf="currentPassword_.errors.required">Current Password required.</span>
          </p>
        </div>
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input mdbActive type="text" formControlName="newPassword" class="form-control">
          <label for="newPassword">New Password</label>
          <p *ngIf="!newPassword.valid && newPassword.touched" class="text-danger">
            <span *ngIf="newPassword_.errors.required">New Password required.</span>
            <span *ngIf="newPassword_.errors.pattern">
              password must contail both upper and lower case character and at least 8 characters length.
            </span>
          </p>
        </div>
        <div class="text-center">
          <button type="submit"
              class="btn btn-rounded z-depth-1a waves-light"
              [ngClass]="{'blue-gradient':!changePasswordForm.pristine && !currentPassword_.errors && !newPassword_.errors,
                          'gray-gradient':changePasswordForm.pristine || !!currentPassword_.errors || !!newPassword_.errors}"
              [disabled]="changePasswordForm.pristine || !!currentPassword_.errors || !!newPassword_.errors"
              mdbRippleRadius>
            <i class="fa fa-pencil prefix"></i>
            Update
          </button>
        </div>
        <!-- <div>
            pristine:{{ changePasswordForm.pristine }} currentPassword_.errors:{{ !!currentPassword_.errors }} newPassword_.errors:{{ !!newPassword_.errors }}
        </div> -->
      </form>
    </div>
    <!--/.Body-->
  </div>
</section>